* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.25vw;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
body {
    background-color: #6a1b9a;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-size: 1em;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;

    float: left;
}
.material-icons.md-18 { font-size: 0.75em; }
.material-icons.md-24 { font-size: 1em; }
.material-icons.md-36 { font-size: 1.5em; }
.material-icons.md-48 { font-size: 2em; }
.white { color: white; }
.today-icon {
    font-size: 2.5em;
    padding: 1.5vw 1.5vw 1.5vw 0;
    color: #666666;
}
h1 {
    font-weight: 900;
    font-size: 1.75em;
    float: left;
    color: white;
    padding-left: 0.75vw;
}
#wrapper {
    position: fixed;
    left: 10vw;
    top: 2.5vw;
    height: 45.4vw;
    width: 80vw;
    border: 2px solid #666666;
    border-radius: 0.5vw;
    -webkit-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
}
#panel {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 75%;
    border-radius: 0.4vw 0 0 0.4vw;
    border-right: 2px solid #666666;
    background: rgba(255,23,69,1);
    background: -moz-linear-gradient(-45deg, rgba(255,23,69,1) 0%, rgba(245,0,86,1) 8%, rgba(57,41,176,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,23,69,1)), color-stop(8%, rgba(245,0,86,1)), color-stop(100%, rgba(57,41,176,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,23,69,1) 0%, rgba(245,0,86,1) 8%, rgba(57,41,176,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,23,69,1) 0%, rgba(245,0,86,1) 8%, rgba(57,41,176,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,23,69,1) 0%, rgba(245,0,86,1) 8%, rgba(57,41,176,1) 100%);
    background: linear-gradient(135deg, rgba(255,23,69,1) 0%, rgba(245,0,86,1) 8%, rgba(57,41,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1745', endColorstr='#3929b0', GradientType=1 );
}
#logo {
    position: relative;
    top: 10%;
    left: 5%;
}
#form-wrapper {
    position: absolute;
    top: 30%;
}
#form-wrapper>div {
    position: relative;
    top: 15%;
    margin-left: 1.35vw;
    margin-bottom: 0.5vw;;
}
.input-icon {
    margin-right: 0.25vw;
    color: white;
}
input, select {
    height: 2vw;
    width: 14.6vw;
    font-size: 1em;
    padding: 0.25vw;
    border-radius: 0.8vw;
    border: none;
    color: #666666;
}
select {
    width: 9.3vw;
}
input[type="time"] {
    width: 6vw;
}
input, select {
    outline: none;
}
#container {
    position: absolute;
    height: 100%;
    width: 75%;
    left: 25%;
    background-color: white;
    border-radius: 0 0.4vw 0.4vw 0;
}
header {
    color: #666666;
    height: 15%;
    width: calc(100% - 3vw);
    border-bottom: 0.25vw solid #666666;
    border-radius: 0.25vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    float: left;
}
#today-header {
    height: calc(100% - 1.5vw);
    margin: 0.75vw 0;
    padding: 1.3vw 0 0 1.5vw;
    font-size: 2em;
    float: left;
    border-left: 0.25vw solid #666666;
}
#week-header {
    height: calc(100% - 1.5vw);
    margin: 0.75vw 0;
    padding: 1.5vw 2.2vw;
    font-size: 1.7em;
    float: right;
    border-left: 0.25vw solid #666666;
}
#this-week {
    float: right;
    width: 25%;
}
.tile {
    padding-left: 0.75vw;
    margin: 0.15vw 0;
    height: 5.3vw;
    color: #666666;
    border-radius: 0.5vw;
}
.date {
    float: left;
    font-size: 3.3em;
    margin: 0.5vw;
}
.month {
    font-size: 1.5em;
    padding-top: 1.45vw;
    padding-left: 2.6vw;
    padding-top: 1.3vw;
}
.date-name {
    font-size: 0.75em;
    padding-left: 2.75vw;

}
#main-content {
    position: absolute;
    top: 15%;
    width: 75%;
}
ul {
    list-style: none;
    border-top: 0.15vw solid #6a1b9a;
    border-bottom: 0.15vw solid #6a1b9a;
    width: calc(100% - 3vw);
    margin: 1vw 1.5vw 1vw 1.5vw;
}
li {
    position: relative;
    color: #6a1b9a;
    display: block;
    min-height: 3vw;
    width: 90%;
    font-size: 1.5em;
    padding: 0.5vw 0 0 0;
    margin: 0 2vw;
    border-bottom: 2px solid #666666;
}
.details {
    padding-top: 0.75vw;
    font-size: 1em;
    height: 2.6vw;
    color: #9c4dcc;
}
li:last-child {
    border: none;
}
.details span {
    padding: 0 1vw;
    float: left;
}
.details i {
    padding-right: 0.25vw;
}
#add {
    position: absolute;
    left: calc(50% - 3.9vw);
    top: 70%;
    height: 2vw;
    width: 7.8vw;
    border-radius: 0.75vw;
    font-size: 1em;
    border: none;
    background-color: white;
    color: #6a1b9a;
    font-weight: bold;
}
.shadow {
    -webkit-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
}
.selected {
    color: #9c4dcc;
    background-color: #f3e5f5;
}
.done {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -2vw;
    margin-top: 0.6vw;
    color: #9c4dcc;
    float: left;
}
.remove {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -2vw;
    margin-top: 0.5vw;
    float: left;
    color: #9c4dcc;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 85%;
    width: 100%;
}
.feature {
    height: 2vw;
    width: 8.3vw;
    font-size: 0.75em;
    color: #6a1b9a;
    font-weight: bold;
    border: none;
    background-color: white;
    border-radius: 0.5vw;
}
.today-icon, .add-circle, header, #today-header, #week-header {
    color: #6a1b9a;
    border-color: #666666;
}
.tile:hover, #add:hover, .feature:hover {
    cursor: pointer;
    background-color: #ce93d8;
    border: 1px solid #666666;
    -webkit-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0.7vw 0 rgba(0,0,0,0.75);
}
.tile:hover .date {
    color: #6a1b9a;
}
.tile:hover .month {
    color: #6a1b9a;
}
.tile:hover .date-name {
    color: #9c4dcc;
}
.add-circle:hover, .cancel:hover, .done, .remove  {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}